@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Haddock.Web.ViewModels.SessionEditViewModel>
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

   

    <title>New Session</title>

    <!--<link rel="stylesheet" href="/content/css/normalize.css" /> -->
    <link rel="stylesheet" href="/content/css/foundation.min.css" />
    <link rel="stylesheet" href="/content/css/styles.css" />

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />



    <script src="/content/js/custom.modernizr.js"></script>
  
      
    <!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


     
<script type="text/javascript" charset="utf-8">
    var flagclock = 0;
    var flagstop = 0;
    var stoptime = 0;
    var splitcounter = 0;
    var currenttime;
    var splitdate = '';
    var output;
    var clock; function startstop() {
        var startstop = document.getElementById('startstopbutton');
        var startdate = new Date();
        var starttime = startdate.getTime();
        if (flagclock == 0) {
            startstop.value = 'Stop';
            flagclock = 1;
            counter(starttime);
        }
        else {
            startstop.value = 'Start';
            flagclock = 0;
            flagstop = 1;
            splitdate = '';
        }
    }

    function counter(starttime) {
        output = document.getElementById('output');
        clock = document.getElementById('clock');
        currenttime = new Date();
        var timediff = currenttime.getTime() - starttime;
        if (flagstop == 1) {
            timediff = timediff + stoptime
        }
        if (flagclock == 1) {
            clock.value = formattime(timediff, '');
            refresh = setTimeout('counter(' + starttime + ');', 10);
        }
        else {
            window.clearTimeout(refresh);
            stoptime = timediff;
        }
    }

    function formattime(rawtime, roundtype) {
        if (roundtype == 'round') {
            var ds = Math.round(rawtime / 100) + '';
        }
        else {
            var ds = Math.floor(rawtime / 100) + '';
        }
        var sec = Math.floor(rawtime / 1000);
        var min = Math.floor(rawtime / 60000);
        ds = ds.charAt(ds.length - 1);
        if (min >= 60) {
            startstop();
        }
        sec = sec - 60 * min + '';
        if (sec.charAt(sec.length - 2) != '') {
            sec = sec.charAt(sec.length - 2) + sec.charAt(sec.length - 1);
        }
        else {
            sec = 0 + sec.charAt(sec.length - 1);
        }
        min = min + '';
        if (min.charAt(min.length - 2) != '') {
            min = min.charAt(min.length - 2) + min.charAt(min.length - 1);
        }
        else {
            min = 0 + min.charAt(min.length - 1);
        }
        return min + ':' + sec + ':' + ds;
    }

    function resetclock() {
        flagstop = 0;
        stoptime = 0;
        splitdate = '';
        window.clearTimeout(refresh);
        splitcounter = 0;
        if (flagclock == 1) {
            var resetdate = new Date();
            var resettime = resetdate.getTime();
            counter(resettime);
        }
        else {
            clock.value = "00:00:0";
        }
    }


</script>


<script>

    $(function () {

        $("#datepicker").datepicker();

    });

</script>

<style type="text/css">
body
{
    background-image:url(../Content/images/background.jpg);
}

</style>

</head>
<body>
       <div class="container">

        <header>

            <div class="row">
                <div class="twelve columns">
                    <p><a href="/" class="titleColour">Back to session list</a>
                    <h1 class="titleColour">New Session</h1>
                </div>
            </div>
        </header>

        <section id="mainContent">

            <div class="row">
                <div class="twelve columns">

                    <form action="/session/new/" method="post">

                        <fieldset>
                            <legend class="titleColour">Session details</legend>

                             <div class="row">
                                <div class="lookup" style ="float:left">
                                    <label>&nbsp Team</label>
                                    <select id="TeamId" name="TeamId">
                                    @foreach (var team in Model.AllTeams)
                                    {
                                        <option value="@team.Id">@team.Name</option>
                                    }
                                    </select>
                                 </div>  

                                 <div class="lookup" style ="margin-left:250px">
                                    <label>&nbsp Iteration</label>
                                    <select id="IterationId" name="IterationId">
                                    @foreach (var iter in Model.AllIterations)
                                    {
                                        <option value="@iter.Id">@iter.Name</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <br />                          
                            <div class="row">
                                <div class="lookup" style ="float:left">
                                    <label>&nbsp Product Area</label>
                                    <select id="ProductAreaId" name="ProductAreaId">
                                    @foreach (var productArea in Model.AllProductAreas)
                                    {
                                        <option value="@productArea.Id">@productArea.Name</option>
                                    }
                                    </select>
                                </div>

                                <div class="lookup" style ="margin-left:250px">
                                    <label>&nbsp Tester</label>
                                    <select id="TesterId" name="TesterId">
                                    @foreach (var tester in Model.AllTesters)
                                    {
                                        <option value="@tester.Id">@tester.Name</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <br />
                        
                                <div class="textArea">
                                    <label>&nbsp Mission</label>
                                    <textarea name="Mission" id="Mission" style="height:200px" placeholder="Mission or charter for this session" >@Model.Mission</textarea>
                                </div>
                        
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Setup</label>
                                    <textarea name="Setup" id="Setup" style="height:200px" placeholder="Machine(s) setup" >@Model.Setup</textarea>
                                </div>
                            </div>
                              <br />
                          
                            <br /> 
                            <table style="width: 100%;">
                                <tr>
                                   <td>  
                                <div class="datePicker">
                                   <label>&nbsp Date</label>
                                   <input name="Date" type="text" id="datepicker">@Model.Date</>
                                </div>
                                </td>
                                    <td>  

                                <div class="timer">
                                    <label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Timer</label>
                                    <input name="Duration" id="clock" value="00:00:0"  readonly="" type="text">
                                    <input id="startstopbutton" value="Start" onclick="startstop();" type="button" style="margin-left:20%">
                                    <input id="resetbutton" value="Reset" onclick="resetclock();" type="button" style="margin-left:30%">
                                </div>   
                                </td>

                                   <td>  <div class="checkBox" style="margin-left:30%"> 
                                   <label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Cloud</label>
                                   <input name="Cloud" id="Cloud" type="checkbox" style="margin-left:40%"/>
                                   <label>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp OnPremise</label>
                                   <input name="OnPremise" id="OnPremise" type="checkbox" style="margin-left:40%"/>
                               </div>
                               </td>
                               </tr>

                            <table style="width: 100%;">
                                <tr>
                                    <td><div class="lookup" style ="float:left">
                                    <label>&nbsp Inherited Risk</label>
                                    <select id="InheritedRiskId" name="InheritedRiskId">
                                          @foreach (var inheritedRisk in Model.AllInheritedRisks)
                                    {
                                        <option value="@inheritedRisk.Id">@inheritedRisk.Name</option>
                                    }
 
                                    </select>
                                </div>

                                    </td>
                                      
                                    <td><div class="attach">
                                        <label>&nbsp Attachments</label>
                                        <input name ="Attachments" id="File1" type="file" />@Model.Attachments</>
                                        </div>
                                    </td>
                                    </tr>
                                <td>&nbsp;</td>

                                </table>
                           <br />
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Risks to mitigate</label>
                                    <textarea name="RisksToMitigate" id="RisksToMitigate" style="height:200px" placeholder="Risks addressed in this session" >@Model.RisksToMitigate</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Tasks</label>
                                    <textarea name="Tasks" id="Tasks" style="height:200px" placeholder="How testing was done" >@Model.Tasks</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Bugs</label>
                                    <textarea name="Bugs" id="Bugs" style="height:200px" placeholder="Any bugs found" >@Model.Bugs</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Issues</label>
                                    <textarea name="Issues" id="Issues" style="height:200px" placeholder="Any issues, questions, concerns" >@Model.Issues</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Notes</label>
                                    <textarea name="Notes" id="Notes" style="height:200px" placeholder="General notes" >@Model.Notes</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div class="textContainer">
                                <div class="textArea">
                                    <label>&nbsp Handover</label>
                                    <textarea name="Handover" id="Handover" style="height:200px" placeholder="Handover notes" >@Model.Handover</textarea>
                                </div>
                            </div>
                              <br /> 
                            <div>
                                <div>
                                <input type="submit" value="Submit Session" class="button"/>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </section>    

    </div> <!-- container -->

    <!-- Check for Zepto support, load jQuery if necessary -->

<script>
    document.write('<script src=/js/vendor/'
      + ('__proto__' in {} ? 'zepto' : 'jquery')
      + '.js><\/script>');
</script>

<script src="/js/foundation.min.js"></script>

    <script>
        $(document).foundation();
    </script>

</body>
</html>
